.editwebsite-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addnewmenu{
    cursor: pointer;
    background-color: white;
    color: #9700cc;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.addnewmenu-text{
    color: #9700cc;
    margin-right: 20px;
}
