.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-header,
.category-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9700cc;
}

.seperate-arrow-open {
  margin-right: 50px;
}