.fooditem-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
  }
  
  .fooditem-popup {
    color: #9700cc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 4px;
    width: 400px;
    max-width: 100%;
    z-index: 1001; 
  }
  
  .fooditem-popup form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .fooditem-popup form button {
    margin-right: 0.5rem;
  }
