.fooditemlist-container {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  
  .food-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: solid 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  .food-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .dot-icon {
    margin-right: 5px;
  }